<%- include header %>

    <!--五个模块-->
    <div class="main">
        <div class="panel_item">
            <a href="/edit">人员管理</a>
            <a href="/edit/cookies/1">信息查询</a>
            <a href="/edit/manager/1">设备管理</a>
        </div>
        <div class="panel_item">
            <a href="/edit/prose/1">实时事件</a>
            <a href="/config">模块配置</a>
            <a href="#">其他</a>
        </div>
    </div>

</div>

<%- include footer %>